.App {
  text-align: center;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.App button {
  border: 1px solid blue;
  padding: 8px;
  margin: 10px;
  background-color: green;
  font: inherit;
  cursor: pointer;
  color: white;
  transition: 0.3s; 
}

.App button:hover {
  background-color: lightgreen;
  color: black;
}

.App input {
  padding: 8px;
}

.App button.red {
  background-color: red;
}

.App button.red:hover {
  background-color: salmon;
  color: black;
}