.Cockpit {
    text-align: center;
  }
  
.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.Cockpit button {
    border: 1px solid blue;
    padding: 8px;
    margin: 10px;
    background-color: green;
    font: inherit;
    color: white;
    transition: 0.3s;
    cursor: pointer; 
}

.Cockpit button:hover {
    background-color: lightgreen;
    color: black;
}

.Cockpit input {
    padding: 8px;
}

.Cockpit button.red {
    background-color: red;
}

.Cockpit button.red:hover {
    background-color: salmon;
    color: black;
}